<div class="bg-dark">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-6 col-md-12"><br>
                <img src="assets/footer.PNG" alt="picture"><br><br>
                <p>
                    Hedomy is a free website that aims to facilitate communication between the seller and the buyer to facilitate the exchange of new or used clothes and bales between subscribers on the Internet through many stores.
                </p>
            </div>
            <div class="col-lg-6 col-md-12"><br>
                <h1 style="border-bottom: 10px solid grey;">
                    Useful Links
                </h1>
                <ul>
                    <li class="py-2 "><a href="#">My Account</a></li>
                    <li class="py-2 "><a href="#">Blog</a></li>
                    <li class="py-2 "><a href="#">Privacy Policy</a></li>
                    <li class="py-2 "><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <ul class="">
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">facebook</a></li>
                    <li><a href="#">facebook</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class=" bg-black text-center"><br>
        <p> <span>&copy;</span> Copyright Hedomy.net. Designed and Developed by
        <a href="#" class="text-white" id="brandlink" style="text-decoration: none;">Webbing Stone</a>
        </p><br>
    </div>
</div>