ul{
    list-style: none;
}


.socialmedia{
    list-style: none;
    display: flex;
}
ul li a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
    color: darkgray;
}
p{
    color:darkgray;
}
#brandlink:hover{
border-bottom: 1px solid white;
}