<div class="bg-danger main  text-center "><br>
<p class="fs-3 text-white ">
    Hedomy.net The first free portal for new and used clothes
</p>
</div>
<!-- the icons div -->
<div class="container text-center mt-2">
    <div class="row">
        <div class="col-lg-1 px-1  col-sm-3">
            <a href="#">
                <img src="assets/home/location.PNG" alt="pictuer">
                <p>
          Pets & Animals
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1  col-sm-3">
            <a href="#">
                <img src="assets/home/photographer.PNG" alt="picture">
                <p>
                    Photographer
                </p>
            </a>
            
        </div>
        <div class="col-lg-1 px-1  col-sm-3">
            <a href="#" >
                <img src="assets/home/services.PNG" alt="picture">
                <p>
                    Services
                </p>
            </a>

        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/tailor.PNG" alt="picture">
                <p>
                    Tailoring
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-md-3">
            <a href="#" >
                <img src="assets/home/watches.PNG" alt="picture">
                <p>
                    Watches
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/dress.PNG" alt="picture">
                <p>
                    Clothes
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/shoes.PNG" alt="picture">
                <p>
                    Bags & Shoes
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/accessories.PNG" alt="picture">
                <p>
                    Accessories
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/cosmatics.PNG" alt="picture">
                <p>
                    Cosmatics
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/eyeglasses.PNG" alt="picture">
                <p>
                    Eye glasses
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/furniture.PNG" alt="picture">
                <p>
                    Furniture
                </p>
            </a>
        </div>
        <div class="col-lg-1 px-1 col-sm-3">
            <a href="#" >
                <img src="assets/home/handmade.PNG" alt="picture">
                <p>
                    Hand Made 
                </p>
            </a>
        </div>
        
        
    </div>
</div>

<!-- the next div -->
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-4 col-md-12 position-relative nxt-div">
            <div class="shadow">

            </div>
            <img src="assets/home/two.jpg" class=" w-100" alt="picture">
            <h3 class="position-absolute title">Clothes</h3>
        </div>
        <div class="col-lg-4 col-md-12 position-relative nxt-div">
            <div class="shadow">

            </div>
            <img src="assets/home/three.jpg" class=" w-100" alt="picture">
            <h3 class="position-absolute title">Bags & Shoes</h3>
        </div>
        <div class="col-lg-4 col-md-12 position-relative nxt-div">
            <div class="shadow ">

            </div>
            <img src="assets/home/four.jpg" class=" w-100" alt="picture">
            <h3 class="position-absolute title">Accessories</h3>
        </div>
        
    </div>
</div><br><br>

<!-- the data from api  -->

<!-- <p class="">Product</p> -->

<div class="container ">
    <p>
        New items 
    </p>
    <div class="row">
        <div class="col-lg-3 col-md-12 justify-content-center p-2" *ngFor="let y of parts">

            <div class="card bg-light fw-bolder" style="width: 16rem;" >
                <img [src]="y.image" class="card-img-top p-3 vh-50 w-100" alt="picture">
                <div class="card-body">
                  <p class="card-title text-danger">{{y.title}}</p>
                  <p class="card-text">Price : {{y.price}}</p>
                  <p>Category : {{y.category}}</p>
                  <span class="p-2">rate : {{y.rating.rate}}</span>
                  <span class="p-2">Stock : {{y.rating.count}}</span>
                </div>
              </div>

        </div>
    </div>
</div>

<!-- our locations section -->
<div class="container mt-5 ">
    <div class="row">
        <div class="col-lg-5 col-md-12">
    <img src="assets/toplocations/first.PNG" alt="picture" class="w-100">
        </div> 
        <div class="col-lg-2 col-sm-3 offset-lg-1  ">
            <img src="assets/toplocations/second.PNG" alt="picture" class="w-100">
        </div>
        <div class="col-lg-2 col-sm-3 offset-lg-1 bg-success">
            Lorem, ipsum dolor.
        </div><br>
        <div class="col-lg-5 col-sm-12 bg-primary">
            Lorem, ipsum dolor.
        </div>
        <div class="col-lg-5 col-sm-12 bg-primary offset-lg-1">
            Lorem, ipsum dolor.
        </div>
    </div>
</div><br><br>

<!-- how it works  -->
<div class="bg-light">
    <div class="container text-center p-4">
        <h3 class="fw-bolder">How it Works </h3><br>
            <div class="row text-center mb-4">
        <div class="col-lg-3 bg-white  ">
            <br><h4 class="fw-bolder">Create Account</h4>
            <p class="p-2">
                You have to create an account which will allow you to publish your ad and communicate better with the buyers, also you can create your own store
            </p>
        </div>
        <div class="col-lg-3  bg-white">
            <br><h4 class="fw-bolder">Post your Ad</h4>
            <p class="p-2">
                After you've created your account, it's time to publish your ad, post ads about the clothes and goods you want to sell            </p>
        </div>
        <div class="col-lg-3  bg-white">
            <br><h4 class="fw-bolder">Get Offers</h4>
            <p class="p-2">
                You have done your job & all you have to do is wait for potential buyers to contact you regarding goods & start earning money                 </p>
        </div>
        <div class="col-lg-3  bg-white ">
            <br><h4 class="fw-bolder">Sell your Item</h4>
            <p class="p-2">
                When buyers contact you and you agree on the selling terms, you can now receive the price and deliver the item and mark your ad as sold               </p>
        </div>
        
            </div>
        </div>
</div>
<!-- the last section -->

<section id="hover-img">
    <div class="container py-5">
        <h5 class="fw-bolder text-center mb-5">
            Latest Blog Posts
        </h5>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card overflow-hidden">
            <img src="assets/latestblog/first.PNG" class="img-fluid" alt="Loading">
            <div class="card-body">
              <h5 class="card-title mt-3"><a href="#" class="text-decoration-none text-dark">

                ماذا تختار مشروع بيع الملابس المستعملة ؟!
                </a></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><i class="fa fa-user mr-1" aria-hidden="true"></i>
                <span class="float-right"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>October
                  26, 2021 / admin</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card overflow-hidden">
            <img src="assets/latestblog/second.PNG" class="img-fluid" alt="Loading">
            <div class="card-body">
              <h5 class="card-title mt-3"><a href="#" class="text-decoration-none text-dark">
                          الوكالة بقت أونلاين .. قصة موقع <<هدومي>> لنشر فكرة شراء المستعمل 
                  </a></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><i class="fa fa-user mr-1" aria-hidden="true"></i>
                
                <span class="float-right"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>October
                  26, 2021</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card overflow-hidden">
            <img src="assets/latestblog/third.PNG" class="img-fluid" alt="Loading">
            <div class="card-body">
              <h5 class="card-title mt-3"><a href="#" class="text-decoration-none text-dark">
                  هدومي موقع لتبادل الملابس المستعملة </a></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><i class="fa fa-user mr-1" aria-hidden="true"></i>
                
                <span class="float-right"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>October
                  26, 2021</span>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </section>